body{
    margin: 0;
    font-family: 'Solway', serif;
    font-size: 16px;
}

div.container{
    margin-top: 50vh;
    transform: translateY(-50%);
    text-align: center;
}

p{
    line-height: 2rem;
}